{% extends 'base.html' %}

{% block content %}
<nav>
    <!--HAMBURGER-->
    <div class="hamburger">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
    </div>
    
    <div class="nav-container">
        <!--LOGO-->
        <a class="logo" href="">SLYCE '05</a>

        <!--NAVIGATION-->
        <ul class="menu">
            <li class="menu-element"><a class="menu-link" href="#about">About</a></li>
            <li class="menu-element"><a class="menu-link" href="#schedule">Schedule</a></li>
            <li class="menu-element"><a class="menu-link" href="#tickets">Get Tickets</a></li>
        </ul>
    </div>
</nav>
<header>
    <!--TITLE-->
    <div class="title-cnt">
        <h1 id="title">The Colors of the Region</h1>
        <p id="subtitle">Celebrating Racial Diversity in Northwest Indiana</p>
        <button id="title-btn" class="btn">Get Tickets</button>
    </div>
        
    <!--LOTUS-->
    <div id="green-lotus" class="lotus">
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
    </div>
    <div id="blue-lotus" class="lotus">
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
    </div>
    <div id="red-lotus" class="lotus">
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
        <div class="petal"></div>
    </div>

    <!--TRIANGLES-->
    <div class="triangle tri-left"></div>
    <div class="triangle tri-right"></div>
</header>
<section id="about">
    <div class="section-content">
        <h2 class="section-title">About</h2>
        <p class="about-info section-space">
        SLYCE is a program created by the Southshore Leadership Center with
        the goal to develop gifted high school students into the future leaders
        of Northwest Indiana. Through community bus tours, informatative
        speakers, and staff of the SLYCE program, these high school students
        are inspired to undertake a mission to better the region.
        <br /><br />
        The current group of high school students enrolled in the SLYCE program
        were particularly touched by a speaker named Katie Kirley. She came to
        speak about what she was doing to impact the community as the director of 
        <a class="intext-link" href="http://www.steelcityacademy.org">Steel City Academy</a>,
        a school dedicated to providing the less fortunate kids of Gary access to a 
        quality education. Consequently, the group of students decided to plan and host
        the Colors of the Region Event in order to both celebrate the diverse 
        races, cultures, and ethnicities present throughout the region as well as 
        serve as a fundraiser to Katie's school.
        <br /><br />
        The event the students are hosting will be on June 30, 2017 at:
        <a class="intext-link" href="#map">Central Park, 68 Lafayette St, Valparaiso, IN</a>.
        The event's attractions are three speakers, three bands, and the various 
        food trucks and activites available to eat and play in the time between 
        the performances and talks of the bands and speakers, respectively. For more 
        information about the speakers and bands, click through the schedule below.
        </p>
    </div>
</section>
<section id="schedule">
    <div class="section-content">
        <h2 class="section-title">Schedule</h2>
        <div class="flex-content">
            <div class="clock section-space">
                <div class="square-content">
                    <div class="clock-bg"></div>
                    <div class="clock-rim">
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="clock-tick"></div>
                        <div class="hour-hand"></div>
                        <div class="minute-hand"></div>
                        <div class="clock-center"></div>
                    </div>
                </div>
            </div>
            
            <div class="schedule-slide section-space no-responsive">
                <div unselectable="on" class="responsive-angle-container clearfix noselect">
                    <div class="responsive-left-angle">
                        <div class="left-angle"><i class="fa fa-angle-left"></i></div>
                    </div>
                    <div class="responsive-right-angle">
                        <div class="right-angle"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="slide-container row">
                    <div unselectable="on" class="left-angle-container noselect">
                        <div class="left-angle"><i class="fa fa-angle-left"></i></div>
                    </div>
                    <div class="slide-content">
                        <div id="schedule-data" style="display: none;"
                            time05:00="Free Time! Eat food or have fun at one of the
                            activity stands."
                            time05:30="Ken Berry, a man passionate towards the goal of
                            bringing the world towards more unity, will speak about his
                            thoughts on the topic of racial diversity."
                            time05:50="Lane Linder, a man passionate towards the goal
                            of bringing the world towards more unity, will speak about
                            his thoughts on the topic of racial diversity."
                            time06:10="A speaker shall speak."
                            time06:30="The Steel City Academy Dance team will perform!"
                            time06:45="Break time! Feel free to eat food at one of the
                            food trucks or have fun at some of the activity stands."
                            time07:00="Our first band will perform, Leave it to Chance."
                            time07:30="Break time! Feel free to eat food at one of the
                            food trucks or have fun at some of the activity stands."
                            time07:45="The band Kill Twins will perform. The Kill Twins
                            are a local band out of Crown Point High School!"
                            time08:15="Break time! Feel free to eat food at one of the
                            food trucks or have fun at some of the activity stands."
                            time08:30="Our final band, Pulsebeat, will play. This part
                            of the event may get messy! :)"
                            time10:00="The Colors of the Region Event ends :(">
                        </div>
                        <div class="schedule-time-container"></div>
                        <div class="schedule-time-info-container"></div>
                        <div class="slide-indicator-container">
                            <ul class="slide-indicators">
                                <li class="indicator"></li>
                            </ul>
                        </div>
                    </div>
                    <div unselectable="on" class="right-angle-container noselect">
                        <div class="right-angle"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tickets">
    <div class="section-content">
        <h2 class="section-title">Get Tickets</h2>
        <form id="ticket-form" class="section-space" action="{{ url_for('home.index', f='ticket') }}" method="post" stripe-key="{{ stripe_public_key }}">
            {{ ticket.csrf_token }}
            <div class="input-container row">
                <div id="email-container">
                    {{ ticket.email.label }}
                    {{ ticket.email(class="form-input", placeholder="Email Address") }}
                </div>
                <div id="quantity-container">
                    {{ ticket.quantity.label }}
                    {{ ticket.quantity(class="form-input", placeholder="1-20") }}
                </div>
            </div>
            {% for error in ticket.email.errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
            {% for error in ticket.quantity.errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
            <div class="input-container">
                <label for="card">Enter Credit or Debit Card</label>
                <div class="form-input" id="card"></div>
                <div class="form-error" id="card-error"></div>
                {{ ticket.stripeToken }}
                {% for error in ticket.stripeToken.errors %}
                    <div class="form-error">{{ error }}</div>
                {% endfor %}
            </div>
            <button class="btn form-submit" type="submit">Purchase</button>
        </form>
    </div>
</section>
<footer>
    <p class="copyright">&copy;2017 South Shore Leadership Center is a not-for-profit, section 501(c)3 corporation.
    6100 Southport Road., Portage, IN 46368</p>
    <div class="social-media-container">
        <ul class="social-media-list">
            <li id="home-social-link" class="social-elem">
                <a class="social-link" href="#"><i class="fa fa-home"></i></a>
            </li>
            <li id="facebook-social-link" class="social-elem">
                <a class="social-link" href="https://www.facebook.com/events/1304882066297294/">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src={{ javascript('main') }}></script>
<script src={{ javascript('payment') }}></script>
<script src={{ javascript('schedule') }}></script>
{% endblock %}
