@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Lato:300,700');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
nav {
	width: 100%;
	height: 130px;
	padding: 0 10%;
	position: fixed;
	color: white;
	background-color: transparent;
	z-index: 10;
	border-bottom: solid 1px rgba(255,255,255,0.6);
	transition: height 0.3s, background-color 0.3s, color 0.3s;
}
ul.menu {
	position: absolute;
	list-style-type: none;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
}
li.menu-element {
	display: block;
	float: left;
	padding: 0 10px;
	height: 100%;
	position: relative;
}
a.menu-link {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: "Lato";
	font-weight: 800;
	font-size: 20px;
	letter-spacing: 1px;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
li.menu-element:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: white;
	transition: height 0.25s;
}
li.menu-element:hover:after {
	height: 3px;
}
nav .payp-form {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.payp-form {
	display: table;
}
.btn {
	font-family: "Lato";
	font-weight: 700;
	font-size: 20px;
	padding: 15px 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: deepskyblue;
	background-color: transparent;
	border: solid 3px deepskyblue;
	transition: color 0.5s, background-color 0.5s;
}
.btn:hover {
	background-color: deepskyblue;
	color: white;
}
header {
	width: 100%;
	height: 85%;
	position: relative;
	background-image: url("https://sehdesign.files.wordpress.com/2012/02/228m1.jpg");
	background-size: cover;
	background-position: bottom;
}
.triangle {
	z-index: 1;
}
#tri-top {
	display: none;
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: solid 130px transparent;
}
#tri-bottom {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: solid 130px transparent;
}
.title-cnt {
	position: relative;
	top: 50%;
	left: 50%;
	max-width: 60%;
	transform: translate(-50%,-50%);
}
#title {
	font-family: "Lato";
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 7px;
	color: white;
	text-align: center;
	text-transform: uppercase;	
	margin-bottom: 20px;
}
#subtitle {
	width: 70%;
	font-family: "Lato";
	font-size: 30px;
	color: white;
	text-align: center;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}
.trans-black {
	background-color: rgba(0, 0, 0, 0.6);
}