{% extends 'base.html' %}

{% block content %}
<div class="print-container">
    <p id="print-link" class="small-text center-text"
    onclick="window.print()">Click here to print your tickets</p>
    {% for t in tickets %}
        <div class="ticket">
            <p class="ticket-header medium-text">Colors of the Region Event</p>
            <p class="ticket-header small-text subheader">One Admission</p>
            <div class="row">
                <p class="ticket-date small-text">06/30/2017</p>
                <div class="barcode-container">
                    <img width="250px" class="barcode" src="{{ t.get_barcode_img_url() }}"/>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
